*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    border: 5px solid black;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
    background-image: url('assets/images/backgrounds/backgroundTop.png');
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sound {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 36px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -30px);
}

[data-sound=true] {
    color: green !important;
}

[data-sound=false] {
    color: red !important;
}
