*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    border: 5px solid black;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
    background-image: url('assets/images/backgrounds/backgroundTop.png');
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
