*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#canvas1 {
    width: 800px;
    height: 500px;
    border: 4px solid black;
    background: linear-gradient(to bottom, lightblue, darkblue, black);
    cursor: pointer;
}

.replay {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
}
